{% extends 'base.html' %}


{% block content_header %}
      <div class="container">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Pedidos</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
               <a title="Nuevo Pedido" href="{% url 'pedido_create' %}" 
                               class="btn btn-success bt-lg float-right"> 
                 <i class="fa fa-plus"></i>
               </a>
          </div>
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
{% endblock %}
{% block content %}

{% include 'partials/mensajes.html' %}

 <section class="content">

      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Listado</h3>
        </div>
        <div class="card-body p-0">
          <table class="table table-striped">
              <thead>
                  <tr>
                     <th style="width: 10%">
                     </th>
                      <th style="width: 40%">
                          Entidad
                      </th>
                      <th style="width: 15%; text-align:center">
                          Cantidad Pedida<br>
                          <small>Fecha Pedido</small>
                      </th>
                      <th style="width: 15%; text-align:center">
                          Cantidad Entregada<br><small>Pendiente</small>
                          
                     </th>
                      <th style="width: 20%; text-align:right">Acciones</th>
                  </tr>
              </thead>
              <tbody>
              {% for pedido in pedidos %}
                  <tr title="Observaciones:&nbsp;{{pedido.observaciones}}">
                      <td>
                        <i title="Prioridad: {{pedido.icono_prioridad.0}}" class="{{pedido.icono_prioridad.1 }}"></i> 

                        {% if pedido.is_pendiente %}
                            {% if pedido.cantidad_entregada == 0 %}
                              <i title="No se ha realizado ninguna entrega" class="fa fa-battery-empty"></i>
                            {% else %}
                                <i title="Se ha hecho una entrega parcial" class="fa fa-battery-half"></i>
                            {% endif %}

                        {% else %}    
                            <i title="Entrega completa" class="fa fa-battery-full"></i>
                        {% endif %}
                      </td>
                      <td>
                          {{pedido.entidad}}
                      </td>
                      <td  style="text-align:center">
                        {{pedido.cantidad_pedida}}<br>
                        <small>{{pedido.fecha_pedido}}</small>
                      </td>
                      <td  style="text-align:center">
                        {{pedido.cantidad_entregada}}<br>
                        <small>{{pedido.cantidad_pendiente}}</small>
                      </td>

                      <td class="text-right">
                          <a title="Movimientos de entrega" class="btn btn-warning btn-sm" 
                              href="{% url 'movimientos' pedido.pk %}">
                              <i class="fas fa-gift"></i>
                          </a>

                          <a title="Editar Pedido" class="btn btn-info btn-sm" 
                             href="{% url 'pedido_edit' pedido.pk %}">
                              <i class="fas fa-pencil-alt">
                              </i>
                          </a>
                          <a data-toggle="modal" data-target="#idmodal_borrar_{{pedido.pk}}" 
                          title="Borrar Pedido" class="btn btn-danger btn-sm" href="#">
                            <i class="fa fa-trash">
                            </i>
                          </a>

                      </td>

                      <!-- modal para el borrado -->
                      <div class="modal fade" id="idmodal_borrar_{{pedido.pk}}" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title">¿Está seguro de Borrar el Pedido?</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              <h2>{{pedido}}</h2>
                            </div>
                            <div class="modal-footer">
                              <a title="Borrar pedido" class="btn btn-danger btn-lg" 
                                                    href="{% url 'pedido_delete' pedido.pk %}">
                                                      <i class="fa fa-trash">
                                                      </i>
                                                      Borrar
                                                </a>
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                            </div>
                          </div>
                        </div>
                      </div>  <!-- /modal -->


                  </tr>
                 {% endfor %}
              </tbody>
          </table>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->

    </section>
    <!-- /.content -->

{% endblock %}

