{% load static %}
<!DOCTYPE html>

<html lang="es">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <title>Pehua Imprime Salud</title>

  <link rel="stylesheet" href="{% static 'plugins/fontawesome-free/css/all.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/fmk.min.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" 
        rel="stylesheet">

</head>

<body class="hold-transition layout-top-nav">
<div class="wrapper">

  <nav class="main-header navbar navbar-expand-md navbar-light navbar-white">
    <div class="container">
      <a href="{% url 'home' %}" class="navbar-brand">
        <img src="{% static 'img/pehuaimprime-logo.png' %}" alt="PehuaImprime" 
             class="brand-image img-circle elevation-3"
             style="opacity: .8">
      </a>
      
      <button class="navbar-toggler order-1" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse order-3" id="navbarCollapse">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a href="{% url 'entidades' %}" class="nav-link">Entidades</a>
          </li>
          <li class="nav-item">
            <a href="{% url 'pedidos' %}" class="nav-link">Pedidos</a>
          </li>
          <li class="nav-item">
            <a href="{% url 'stls' %}" class="nav-link">STLs</a>
          </li>
        </ul>

      </div>
   
    </div>
  </nav> <!-- /.navbar -->

  <div class="content-wrapper">
    <div class="content-header">
         {% block content_header %}
         {% endblock %}
    </div>

    <div class="content">
      <div class="container">

               {% block content %}
               {% endblock %}

      </div><!-- /.container-fluid -->
    </div> <!-- /.content -->
  </div> <!-- /.content-wrapper -->

  <!-- Footer -->
  <footer class="main-footer mt-4">
    <div class="float-right d-none d-sm-inline">
      Versión 1.0
    </div>
    <strong>Pehua Imprime Salud</strong>
  </footer>
</div>
<!-- ./wrapper -->

<!-- jQuery -->
<script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
<!-- Bootstrap 4 -->
<script src="{% static 'plugins/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
<script src="{% static 'js/fmk.min.js'%}"></script>

{% block js %} {% endblock %}

</body>
</html>